<!DOCTYPE html>
<html>
    <head>
        <title>wordcount_about</title>
    </head>
    <body>
        <div>
            <h1>wordcount에 대해서 궁금하신가요?</h1> 
            2 <br> 
            3 <h2>우리 wordcount 홈페이지는 당신이 제출하고자 하는 텍스트의  
            4     각 문자 출현횟수를 체계적으로 세어드립니다.!</h2> 
            5 <br> 
            6 <h2>▼이용 방법▼</h2> 
            7 <ol> 
            8     <li>정보를 얻고자 하는 텍스트를 복사한다.</li> 
            9     <li>home 화면의 텍스트 박스에 붙여넣는다.</li> 
            10     <li>wordcount 버튼을 클릭한다.</li> 
            11 </ol> 
            12 <br> 
            13 <h2>위와 같은 방법으로 wordcount를 이용해 보세요!^^</h2> 
            14 <br><br> 
            15 <a href="{%url 'home'%}">go back to Home</a>             
        </div>

    </body>
</html>