{% load static %}
<!DOCTYPE html>
<html>
    <head lang="ko">
        <meta charset="utf-8">
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
       
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,500,700|Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
   
    <meta charset="utf-8">
        <title>wordcount_about</title>
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:100,500,600,800" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    </head>
    <body>
        <div>
            <ul>
                <a href="{%url 'home'%}"><li class="back">LIKELION WORDCOUNT HOMEPAGE</li></a>
                <a href="{%url 'home'%}"><li>HOME</li></a>
                <a href="{%url 'about'%}"><li>ABOUT</li></a>
            </ul>
        </div>
        <div class="title">
            <img src="https://www.nowoncosmos.or.kr/img/img_school.png" alt="소개이미지" width="300" height="350" align="left">
            <div class="text">
                <h4>Are you curious about <strong>wordcount homepage</strong>?</h4>
                <br>
                <h6>이 사이트는 제가 멋쟁이 사자처럼 7기 운영진 강좌를 들으며 만든 
                저의 첫 페이지 입니다.

                아직 완벽한 페이지의 기능을 하진 못하지만 

                점차 공부를 하며 더 보기 좋은 웹 페이지를 만들어 볼 계획입니다.

                사이트에서 원하는 텍스트의 단어 갯수를 count 해보세요! 
                </h6>
                <br>
                <h6>
                ▶▶e-mail:duddmd0219@naver.com and <a href="https://github.com/JoYeongEun">git-hub</a>
                </h6>
                <h5>Reference site:  
                <a href="https://www.codecademy.com/learn/learn-css" target="blank_">site #1,</a>
                <a href="https://ojji.wayful.com/" target="blank_">site #2,</a>
                <a href="https://class.likelion.org/lectures/web-basic" target="blank_">site #3</a>
                </h5>
            </div>
        </div>

        <footer class="day">
            <p>Copyright © ChoYeongEun 2019</p>
            <p>KungsungUniv.likelion 7th</p>
        </footer>
    </body>
</html>